<h1><% title "Welcome" %></h1>

<p>If you already have an account, please log in otherwise <%= link_to "Sign up!", signup_path %></p>
<br/>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Username or Email Address" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>
